/* Main container for the map, ensuring it takes full width and height */
#js-map {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Ensures layers are positioned correctly within the map container */
.ol-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

/* Positioning and styling for the layer switcher control */
.ol-layerswitcher {
    right: 30px !important;
    top: 30px !important;
    left: auto !important;
    bottom: auto !important;
    position: absolute !important;
}

/* General body styling to remove margin, padding, and overflow */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Styling for the left panel */
.left {
    grid-area: left;
    width: 30vh;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.8);
    max-height: 800vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}

/* Styling for the right panel */
.right {
    grid-area: right;
    width: calc(100vw - 30vh);
    height: 100vh;
    border: 5px slategrey;
    position: absolute;
    top: 0;
    left: 30vh;
}

/* Styling for the table of contents (TOC) */
.toc {
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling for the mouse position display */
.mousePosition {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styling for the popup container */
.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 10px; /* Reduced padding */
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 240px;
    font-family: Arial, sans-serif;
}

/* Arrow styling for the popup */
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

/* Styling for the popup closer and remove buttons */
.ol-popup-closer,
.ol-popup-remove {
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: #d9534f;
}
.ol-popup-closer:hover,
.ol-popup-remove:hover {
    color: #a94442;
}
.ol-popup-closer {
    margin-right: 5px;
}

/* Styling for the popup header */
.popup-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -10px;
}
.popup-header .icon-container {
    display: flex;
    gap: 5px;
}

/* Styling for the content inside the popup */
.popup-content {
    margin-top: 10px;
}

/* Styling for the popup point marker */
.popup-point {
    background: yellow;
    border: 2px solid black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.popup-point:hover {
    background: green;
}

/* General styling for popups */
.popup-style {
    background-color: white;
    opacity: 85%;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    max-width: 200px;
    text-align: center;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.popup-style .popup-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
}
.popup-style .popup-buttons button {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.popup-style .popup-buttons button:hover {
    background-color: #ddd;
}
.popup-style p {
    margin-top: 10%;
}
.popup-style.minimized {
    opacity: 0;
    transform: translateY(100%);
}

/* Styling for custom buttons */
.myButton {
    background-color: #ffffff;
    color: white;
    font-weight: 700;
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    border: none;
    align-items: center;
}
.myButton:hover {
    background-color: #a7a7a7;
}
.myButton.clicked {
    background-color: #189a11;
}
.myButton.clicked:hover {
    background-color: #1e6c1a;
}

/* Styling for the Heatmap and Point Info button container */
.featureInfoButton{
    position: absolute;
    display: block;
    margin: auto auto auto 10px;
    bottom: 100px; 
    left: 10;
}

/* Styling for the home button container */
.homeButtonDiv {
    position: absolute;
    display: block;
    margin: auto auto auto 10px;
    bottom: 20px;
    left: 10;
}

/* Styling for the fullscreen button container */
.fsButtonDiv {
    position: absolute;
    display: block;
    margin: auto auto auto 10px;
    bottom: 60px;
    left: 10;
}

/* Styling for the search input field */
#search {
    position: absolute;
    width: 250px;
    margin-top: 1%;
    left: 5%;
    z-index: 999;
    padding: 10px 15px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}

/* Styling for the suggestion list under search bar */
#suggestion-list {
    position: absolute;
    margin-top: 1%;
    left: 5%;
    width: 280px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    z-index: 998;
    list-style-type: none;
    padding: 0;
    border-radius: 15px;
    overflow-y: auto;
    max-height: 200px;
    padding-top: 50px;
    display: none;
}

/* Styling for individual suggestion list items */
#suggestion-list li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#suggestion-list li:hover {
    background-color: #a6a6a6;
}

/* Custom scrollbar styling for suggestion list */
#suggestion-list::-webkit-scrollbar {
    width: 5px;
}
#suggestion-list::-webkit-scrollbar-track {
    background: transparent;
}
#suggestion-list::-webkit-scrollbar-thumb {
    background: #757575;
    border-radius: 5px;
}

/* Ensures hidden scrollbar for suggestion list */
#suggestion-list::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
#suggestion-list::-webkit-scrollbar-track {
    background: transparent;
}
#suggestion-list::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Styling for the on-hover heatmap popup */
#simple-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-family: Arial, sans-serif;
    font-size: small;
    z-index: 10000;
    transform: translate(-50%, -100%);
    margin-bottom: 10px;
    min-width: 190px;
}

/* Arrow styling for the on-hover heatmap popup */
#simple-popup:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}
#simple-popup:before {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid rgba(0, 0, 0, 0.2);
}

/* Styling for content inside the on-hover heatmap popup */
.popup-content {
    display: flex;
    flex-direction: column;
}
.popup-row {
    display: absolute;
    align-items: center;
    margin-bottom: 5px;
    flex-wrap: wrap;
}
.popup-row h3, .popup-row p {
    margin: 0;
    padding-left: 5px;
    display: inline;
    font-size: small;
}

/* Styling for the mouse position display */
#mouse-position {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

/* Additional styling for the table of contents */
.toc {
    padding: 15px;
}

/* Styling for the loading indicator */
.loading-indicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
}

/* Styling for the loading spinner */
.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

/* Keyframes for the spinner animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Styling for the legend container */
#legend-container {
    position: absolute;
    bottom: 20px;
    left: 70px;
    display: flex;
    gap: 20px;
    z-index: 10000;
}

/* General styling for legends */
.legend {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 4px;
    font-size: small;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.legend h3 {
    margin: 0;
    padding: 0;
    font-size: small;
    text-align: center;
}
.legend-item {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.legend-item div {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Styling for the legend toggle button */
.legend-toggle {
    top: 50;
}
.legendToggleButton {
    position: absolute;
    display: block;
    margin: auto auto auto 10px;
    bottom: 140px;
    left: 10;
}
.legend:empty {
    display: none;
}

/* Styling for legend filter details */
.legend-filter-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
}
.filter-item {
    margin-bottom: 5px;
}
.legend-filter-details div {
    margin-bottom: 5px;
}