#js-map {
    position: absolute; 
    top: 70;
    bottom: 0;
    right: 0;
    left: 0; 
    width: calc(100vw - 30vh); 
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header{
    grid-area: header;
    font-size: 25px;
    height: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #121735;
    color: aliceblue;
}
.header img{
    margin-right: 20;
}

.grid-container{
    display: grid;
    grid-template-areas:
        'header header'
        'left right'
}

.left{
    grid-area: left;
    width: 30vh;
    height: 100vh;
    background-color: #121735;
    box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.8); 
}


.toc{
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right {
    width: calc(100% - (100vw - 30vh)); 
    height: 100vh;
    border: 5px slategrey;
    position: absolute;
    top: 0;
    left: 30vh; 
}

.mousePosition{
    position: fixed;
    top: auto;
    right: auto;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
    font-family: Arial, sans-serif;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer,
.ol-popup-remove {
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: #d9534f;
}
.ol-popup-closer:hover,
.ol-popup-remove:hover {
    color: #a94442;
}
.ol-popup-closer {
    margin-right: 5px;
}
.popup-header {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
    margin-bottom: 5px;
}
.popup-header .icon-container {
    display: flex;
    gap: 5px; /* Space between icons */
}
.popup-content {
    margin-top: 10px;
}
.popup-point {
    background: yellow;
    border: 2px solid black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.popup-point:hover {
    background: green;
}
.popup-style {
    background-color: white;
    opacity: 85%;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    max-width: 200px;
    text-align: center;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.popup-style .popup-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
}
.popup-style .popup-buttons button {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.popup-style .popup-buttons button:hover {
    background-color: #ddd;
}
.popup-style p {
    margin-top: 10%;
}
.popup-style.minimized {
    opacity: 0;
    transform: translateY(100%);
}

.myButton{
    background-color: #121735;
    color: white;
    font-weight: 700;
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    border: none;
    align-items: center;
}

.homeButtonDiv{
    position: absolute;
    display: block;
    margin: auto auto auto 10px;
    bottom: 20px; 
    left: 10;
}

.myButton:hover{
    background-color: #28378b;
}
.myButton.clicked{
    background-color: #189a11;
}
.myButton.clicked:hover{
    background-color: #121735;
}

.fsButtonDiv{
    position: absolute;
    display: block;
    margin: auto auto auto 10px;
    bottom: 60px; 
    left: 10;
}

#search {
    position: absolute;
    width: 250px;
    margin-top: 1%; 
    left: 5%;
    z-index: 999; 
    padding: 10px 15px; 
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}

#suggestion-list {
    position: absolute;
    margin-top: 1%; /* Adjust margin-top as needed */
    left: 5%;
    width: 250px; /* Adjust width as needed */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7); /* Add box shadow for visibility */
    z-index: 998; /* Ensure the suggestion list is above other elements */
    list-style-type: none;
    padding: 0;
    border-radius: 15px; /* Add rounded corners */
    overflow-y: auto; /* Add vertical scroll for overflow */
    max-height: 200px; /* Limit maximum height */
    padding-top: 50px;
    display: none;
}

#suggestion-list li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for hover effect */
}

#suggestion-list li:hover {
    background-color: #a6a6a6; /* Change background color on hover */
}

#suggestion-list::-webkit-scrollbar {
    width: 5px; /* Adjust the width as needed */
}

#suggestion-list::-webkit-scrollbar-track {
    background: transparent; /* Change to desired color */
}

#suggestion-list::-webkit-scrollbar-thumb {
    background: #757575; /* Change to desired color */
    border-radius: 5px; /* Adjust the border radius as needed */
}


.suggestion-list {
    max-height: 200px; /* Adjust the height as needed */
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#suggestion-list::-webkit-scrollbar {
    width: 0; /* Hide the scrollbar */
    background: transparent; /* Change to desired background color */
}

#suggestion-list::-webkit-scrollbar-track {
    background: transparent; /* Change to desired background color */
}

#suggestion-list::-webkit-scrollbar-thumb {
    background: transparent; /* Change to desired background color */
}


.popup-style {
    background-color: white;
    opacity: 85%;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative; /* Ensure the position is relative for absolute positioning of buttons */
    overflow: hidden; /* Hide overflow to prevent scrollbars */
    max-width: 200px; /* Adjust maximum width as needed */
    text-align: center; /* Center text */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add transition */
}

.popup-style .popup-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
}

.popup-style .popup-buttons button {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.popup-style .popup-buttons button:hover {
    background-color: #ddd; /* Add hover effect */
}

.popup-style p{
    margin-top: 10%;
}

.popup-style.minimized {
    opacity: 0; /* Hide minimized popup */
    transform: translateY(100%); /* Move popup below the map */
}
.fsButtonDiv{
    position: absolute;
    display: block;
    margin: auto auto auto 10px;
    bottom: 60px; 
    left: 10;
}
.featureInfoButton{
    position: absolute;
    display: block;
    margin: auto auto auto 10px;
    bottom: 100px; 
    left: 10;
}